@model IEnumerable<Lab06_ASP.Net.Models.Coffee>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";

}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-controller="Coffees" asp-action="Create">Create New Coffee</a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoffeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                <a asp-area="Admin" asp-controller="Coffees" asp-action="Edit" asp-route-id="@item.CoffeeID">Edit</a> |
                <a asp-area="Admin" asp-controller="Coffees" asp-action="Details" asp-route-id="@item.CoffeeID">Details</a> |
                <a asp-area="Admin" asp-controller="Coffees" asp-action="Delete" asp-route-id="@item.CoffeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
